<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1051385674198-532nptlsev01si92i0okat39e3m2l3vk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1051385674198-532nptlsev01si92i0okat39e3m2l3vk</string>
	<key>API_KEY</key>
	<string>AIzaSyCLip6tA6Wa1Lf4FwGh3c2ZegGf2xFGWeQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1051385674198</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mohammed.instacloneapp</string>
	<key>PROJECT_ID</key>
	<string>insta-clone-app-90393</string>
	<key>STORAGE_BUCKET</key>
	<string>insta-clone-app-90393.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1051385674198:ios:b95010e9b634525df40c77</string>
	<key>DATABASE_URL</key>
	<string>https://insta-clone-app-90393.firebaseio.com</string>
</dict>
</plist>